<!DOCTYPE html>
<html>
  <head>
    <title>DuroTheThird</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic,700,900">
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <section id="pageloader">
        <div class="loader-item fa fa-spin colored-border"></div>
    </section> <!-- /#pageloader -->

    <%= render partial: 'layouts/header' %>
    
    <%= yield %>
  </body>
  <script>
    document.addEventListener('turbolinks:load', function() {
      // makes sure the whole site is loaded
      $('.loader-item').fadeOut(); // will first fade out the loading animation
      $('#pageloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
      $('body').delay(350).css({ 'overflow-y': 'visible' });
    });
  </script>
</html>
